
@media screen and (min-width: 1280px) {
    body{
        height: 100vh;
        overflow: hidden;
    }
    
}


@media screen and (min-width: 1280px) {
    .booking, 
    .users,
    .rooms {

        width: calc(100% - 670px);
        padding: 60px  32px;

    }
    
}
@media screen and (min-width: 1024px) {
    .booking, 
    .users,
    .rooms {
        
        width: calc(100% - 430px);
        padding: 60px  32px;
    }
    
}
@media screen and (max-width: 1280px) {
    .booking, 
    .users,
    .rooms{
        padding: 60px  32px;
        padding-top: 90px;

    }
    
}
input {
    font-weight: 500 !important;
}
.special {
    color: var(--Primary-Color, #3B28CC);
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.booking, 
.users,
.rooms {
    height: 100vh;
}
.booking h1, 
.users h1,
.rooms h1 {
    margin: 40px 0 20px !important;
    padding-left: 30px;
}
.booking ul,
.users ul,
.rooms ul {
    padding-left: 30px;
}
.booking ul li,
.users ul li,
.rooms ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: solid 2px #F2F2F2;
}
.pagination {
    padding: 22px 22px;
    border-radius: 6px;
    background: #F7F7F7;
}
.booking .pagination, 
.users .pagination,
.rooms .pagination {
    margin-left: 20px;
}
/* booking */
.booking ul li div {
    display: flex;
    align-items: center;
    gap: 16px;
}
.booking ul li div img {
    cursor: pointer;
}
.booking ul li > span {
    width: 150px;
    text-align: center;
}
.booking ul li div > span:nth-of-type(1) {
    color: #808080;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    width: 70px;
    overflow: hidden;
  

}
.booking ul li > span:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 26px;
    border-radius: 5px;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 400;
}
.booking ul li span:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Neutral1, #8E8E8E);
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.booking ul li span:nth-of-type(3) {
    color: var(--Typo-Color, #080808);
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
} 
/* booking */
/* users */
.users ul li div {
    display: flex;
    align-items: center;
    gap: 14px;
}
.users ul li div img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.users ul li div span:nth-of-type(1) {
    color: #808080;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    padding-right: 120px;
} 
.users ul li div span:nth-of-type(2) {
    color: var(--Neutral1, #8E8E8E);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
} 
/* users */
/* rooms */
.rooms ul li span:not(span:nth-of-type(1)){
    text-align: center;
    width: 150px;
}
.rooms ul li span:nth-of-type(1) {
    color: var(--Typo-Color, #080808);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}
.rooms ul li span:nth-of-type(2),
.rooms ul li span:nth-of-type(4)  {
    color: var(--Neutral1, #8E8E8E);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.rooms ul li span:nth-of-type(3) {
    color: var(--Secondary-Color, #6656E1);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.rooms ul li button {
    display: flex;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
   
    color: #FFFFFF;
}
/* rooms */
/* AddBooking - Delete */
.addBooking,
.delete, 
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background: rgba(49,49,49,0.5);
}
.addBooking .content, 
.delete .content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 42px 28px;
    border-radius: 8px;
    background: #FFF;
    width: 781px;
    height: 438px;
}
.delete .content {
    width: 494px;
    height: 202px;
}
.addBooking h3,
.delete h3 {
    color: var(--Primary-Color, #3B28CC);
    font-family: Outfit;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;

}

.delete p {
    color: var(--Neutral1, #8E8E8E);
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    margin: 12px 0 0px;
}
.addBooking .content form {
    display: flex;
    flex-direction: column;
}
.addBooking .content form > input {
    width: 414px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding: 8px;
    border-radius: 7px;
    background: #E9E9E9;
    color: var(--Typo-Color, #080808);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.addBooking .content form > input::placeholder {
    color: #080808;
}
.addBooking .content form .date {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 414px;
    margin: 0 auto 36px;
}
.addBooking .content form .date div {
    position: relative;
}
.addBooking .content form .date div input {
    position: relative;
    width: 202px;
    height: 55px;
    padding: 8px;
    border-radius: 7px;
    background: #E9E9E9;
    color: var(--Typo-Color, #080808);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}
.addBooking .content form .date div i {
    position: absolute;
    color: #5D5D5D;
    font-size: 22px;
    right: 12px;
    top: 17px;
} 
.addBooking .content form .date input::placeholder {
    color: #080808;
}
.addBooking .content form .buttons,
.delete .content .buttons {
    display: flex;
    justify-content: space-between;
    width: 414px;
    margin: 0 auto;
}
.delete .content .buttons {
    width: 296px;
}
.addBooking .content form .buttons button,
.delete .content .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 39px;
    padding: 12px 54px;
    border-radius: 3px;
}
.delete .content .buttons button {
    width: 140px;
}
.addBooking .content form .buttons button:nth-of-type(1),
.delete .content .buttons button:nth-of-type(1) {
    background: var(--Primary-Color, #3B28CC);
    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
} 
.addBooking .content form .buttons button:nth-of-type(2),
.delete .content .buttons button:nth-of-type(2) {
    border: 1px solid var(--Neutral1, #8E8E8E);
    color: var(--Neutral1, #8E8E8E);
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
}
@media (max-width: 768px) {
    .dashBoard {
        width: 100vw !important;
        padding: 60px 20px 0 !important;
        margin-right: 0 !important;
    }
    .firstElement {
        margin-top: 30px !important;
    }
    .firstElement .relative div {
        padding-left: 8px;
    }
    .firstElement .relative p:nth-of-type(1) {
        font-size: 26px;
    }   
    .firstElement .relative p:nth-of-type(2) {
        line-height: 18px;
    }
    .date1 {
        display: none !important;
    }
    .status {
        width: 70px !important;
    }
    .suite,
    .room {
        width: 60px !important;
    }
    .nameImg {
        width: 120px !important;
    }
    .user {
        justify-content: center;
    }
    .nameImg p {
        font-size: 14px;
    }
    .dateItem {
        display: none !important;
    }
    .booking, .users, .rooms {
        padding: 90px 24px 0;
        margin-bottom: 20px;
    }
    .booking h1, .users h1, .rooms h1 {
        padding-left: 0;
        font-size: 32px;
    }
    .booking ul, .users ul, .rooms ul {
        padding-left: 0;
    }
    .booking ul li div {
        gap: 10px;
    }
    .booking ul li div:nth-of-type(1) img {
        width: 30px;
        height: 30px;
    }
    .booking ul li div > span:nth-of-type(1) {
        font-size: 12px;
        width: 60px;
    }
    .booking ul li .buttons img {
        width: 20px;
    }
    .booking ul li > span:nth-of-type(1) {
        width: 60px;
        height: 20px;
        font-size: 12px;
    }
    .booking ul li span:nth-of-type(2) {
        text-align: center;
        width: 50px;
    }
    .booking ul li .buttons {
        width: 40px;
    }
    .booking ul li .buttons img {
        width: 18px;
    }
    .booking ul li span:nth-of-type(3) {
        padding-left: 20px;
    }
    .booking ul li > span {
        width: 80px;
    }
    .booking .pagination, .users .pagination, .rooms .pagination {
        margin-left: 0;
    }
    .users ul li img {
        width: 20px;
    }
    .users ul li div span:nth-of-type(1),
    .users ul li div span:nth-of-type(2) {
        font-size: 14px;
    }
    .rooms ul li span {
        font-size: 14px !important;
    }
    .rooms ul li span {
        width: 100px !important;   
    }
    .rooms ul li span:nth-of-type(1) {
        width: 48px !important;
    }
    .rooms ul li span:nth-of-type(3),
    .rooms ul li span:nth-of-type(4) {
        width: 60px !important;
    } 
    .rooms ul li span:nth-of-type(4) {
        padding-right: 10px;
    }
    .rooms ul li span:nth-of-type(2) {
        width: 150px !important;
    }
    .rooms ul li button {
        font-size: 14px;
        padding: 4px 10px;
     }
    .rightSide {
        width: 100vw !important;
        padding: 0 0 40px !important;
        gap: 80px !important;
    }
    .self-end {
        display: none;
    }
    .addBooking .content {
        width: 370px;
        height: 380px;
    }
    .addBooking .content form > input {
        width: 320px;
        height: 46px;
    }
    .delete .content {
        width: 370px;
        height: 200px;
    }
    .addBooking h3 {
        margin-bottom: 36px;
    }
    .delete .content .buttons,
    .addBooking .content form .buttons,
    .addBooking .content form .date {
        width: 320px;
    }
    .addBooking .content form .date {
        margin-bottom: 20px;
    }
    .delete .content .buttons button,
    .addBooking .content form .buttons button,
    .addBooking .content form .date input {
        width: 150px !important;
    }
    .addBooking .content form .date input {
        height: 46px;
    }
}
@media (min-width: 768px) and (max-width: 1280px) {
    .rightSide {
        padding-top: 90px;
        gap: 90px !important;
    }
    .firstElement {
        margin-top: 42px !important;
    }
    .self-end {
        align-self: center !important;
    }
}
/* addBooking - Delete */
